.category-item {
    margin-bottom: 1rem;
    .thumb {
        text-align: center;
        padding: 30px 0;
        background-color: $dark;
        a {
            i {
                font-size: 85px;
            }
        }
    }
}