.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .site-logo {
        img {
            max-width: 200px;
            height: auto;
        }
    }
}

.nav-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    transition: .5s;
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.mini-cart-icon {
    font-size: 25px;
    color: $dark;
    position: relative;
    margin-left: 10px;
    span {
        position: absolute;
        top: 0;
        right: -15px;
        display: inline-block;
        background-color: $primary;
        height: 23px;
        width: 23px;
        border-radius: 50%;
        text-align: center;
        font-size: 14px;
        color: $white;
        font-weight: bold;
    }
    &:hover {
        color: $primary;
    }
}

/**
 * ----------------------------------------
 * Slide Bottom Animation
 * ----------------------------------------
 */
 @-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@media all and ( max-width: 992px ) {
    .header-wrapper {
        padding: 10px 0;
    }
}