body {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h2 {
    font-size: 50px;
    font-weight: bold;
}

ul,
ol {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    @include transition(.3s);
}
img {
    width: 100%;
    height: auto;
}

.subscribe-bg {
    background-color: $dark;
    background-image: url('img/subscribe-bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.page-content {
    padding: 70px 0;
}