.preloader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; /* Replace $white with actual color */
    z-index: 9999;
    .preloader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 65px;    /* Increased width for 4 bars */
        height: 55px;
        --c: linear-gradient(#0069FF 0 0);
        background: var(--c) 0%   50%, 
                    var(--c) 25%  50%, 
                    var(--c) 50%  50%, 
                    var(--c) 75%  50%;
        background-size: 6px 50%;
        background-repeat: no-repeat;
        animation: preloader-animation 1.2s infinite linear alternate;
    }
}

@keyframes preloader-animation {
   20% {
      background-size: 6px 20%, 6px 50%, 6px 50%, 6px 50%;
   }
   40% {
      background-size: 6px 100%, 6px 20%, 6px 50%, 6px 50%;
   }
   60% {
      background-size: 6px 50%, 6px 100%, 6px 20%, 6px 50%;
   }
   80% {
      background-size: 6px 50%, 6px 50%, 6px 100%, 6px 20%;
   }
   100% {
      background-size: 6px 50%, 6px 50%, 6px 50%, 6px 100%;
   }
}
